.login-container{
    background: linear-gradient(to right ,
     rgba(254, 175, 0,9) , 
     rgba(254, 175, 0, 6)) !important;
}

.sidebar-container{
    background-color: rgba(242, 234, 225, 1) !important;
}

.ps-sidebar-container {
    background: transparent !important;
}

.ps-menu-button:hover{
    background-color: rgba(254, 175, 0, 1) !important;
}